GObject/.libs
GObject/.deps
/GObject/Makefile
/GObject/Makefile.in
/GObject/aclocal.m4
/GObject/autom4te.cache
/GObject/compile
/GObject/config.guess
/GObject/config.h
/GObject/config.h.in
/GObject/config.log
/GObject/config.status
/GObject/config.sub
/GObject/configure
/GObject/depcomp
/GObject/install-sh
/GObject/libGlutWindow.la
/GObject/libGlutWindow_la-GlutWindow.lo
/GObject/libGlutWindow_la-GlutWindow.o
/GObject/libtool
/GObject/ltmain.sh
/GObject/missing
/GObject/my-plugin-system-inspect
/GObject/my_plugin_system_inspect-my-plugin-system-inspect.o
/GObject/stamp-h1
